<h1>Editing product_list</h1>

<% form_for(@product_list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= select(:product_list, :product_id, @product_ids.collect { |p| [p.name, p.id]}) %>
    <!--%= f.text_field :product_id %-->
  </p>
  <p>
    <%= f.label :brand_id %><br />
    <%= select(:product_list, :brand_id, @brand_ids.collect { |b| [b.name, b.id]}) %>
    <!--%= f.text_field :brand_id %-->
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product_list %> |
<%= link_to 'Back', product_lists_path %>