<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @product.description %>
</p>

<p>
  <b>Dimensions:</b>
  <%=h @product.dimensions %>
</p>

<p>
  <b>Category:</b>
  <% @categories.each do |category|%>
    <%  if category.id == @product.category_id %>
    <%=h category.name %>
    <% end %>
    <% end %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @product.remarks %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>